/* page header*/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #fdbe33;
}
  
.page-header h2 {
    margin-bottom: 10px;
    font-size: 60px;
    color: #030f27;

    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    left: calc(50% - 50px);
    bottom: 0;
    background: #030f27;
}

  
.page-header a {
    color: #030f27;
    position: relative;
    text-decoration: none;
    padding: 0 12px;
    font-size: 20px;
    font-weight: medium;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header a:not(:last-child)::after {
    content: '/';  
    margin: 0 5px; 
    color: #030f27; 
}
  
.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #121518;
}
@media (max-width: 991.98px) {
    .page-header {
        padding: 60px 0;
    }
    
    .page-header h2 {
        font-size: 45px;
    }
    
    .page-header a {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 45px 0;
    }
    
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


 /* FAQs heading */
.section-header p {
    color: #fdbe33;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.section-header h2 {
    position: relative;
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    margin-bottom: 40px;
}

/* contact */
.contact .col-md-6:first-child {
    background: #030f27;
}

 .contact .contact-item {
    margin: 30px;
    position: relative;
    color: #ffffff;
    padding: 30px;
    display: flex;
    height: 150px;
    align-items: center;
    flex-direction: row;
    border: 2px solid rgba(256, 256, 256, .2);
    font-size: x-large;
}

.contact .contact-text {
    position: relative;
    width: auto;
    padding-left: 30px;
    font-size: large;
} 

 .contact .contact-text h2 {
    color: #fdbe33;
    font-size: 20px;
    font-weight: 600;
}

/* form */
.contact .col-md-6:last-child {
  background: #fdbe33;
}  

.contact .contact-form {
    margin:30px;
    position: relative;
}

.contact .contact-form input,
.contact .contact-form textarea {
    margin-bottom: 30px;
    color: black;
    font-weight: 100;
    font-size: large;
    border-radius: 0;
    border: 2px solid rgba(256, 256, 256, .4);
    background: transparent;
}

.contact .contact-form input{
    height: 50px;  
}

.contact .contact-form textarea {
  height: 200px;
}

.contact .contact-form input:focus {
    box-shadow:initial;
    border:3px solid #ffffff;
}

.contact .contact-form textarea:focus {
  box-shadow:initial;
  border:3px solid #ffffff;
}

.contact .contact-form .form-control::placeholder{
  color: #ffffff;
  opacity: 1;
}

.contact .contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.contact .contact-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

/* button */
.contact .contact-form .btn {
    padding:15px 25px;
    font-size: 16px;
    font-weight: 700;
    color: #fdbe33;
    background: #030f27;
    border: none;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #030f27;
    background: #ffffff;
}



