/* heading styles */
.modified-faqs {
    display: flex;
    padding: 45px 0;
    position: relative; 
    width: 100%; 
    justify-content: center;
  }
  
  .modified-faqs .modified-row{
    position: relative;
  }
  
  .modified-faqs .modified-row::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    top: 0;
    left: calc(50% - .5px);
    background-color: #fdbe33;
  }
  
  .modified-faqs #modified-accordion-1{
    padding-right: 30px;
  }
  
  .modified-faqs #modified-accordion-2 {
    padding-left: 30px;
  }
  
  /* accordion styles */
  .accordion{
    width: 100%;
    height: 100%
  }
  
  .custom-card{
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
  }
  
  .accordion-button,
  .accordion-body {
    font-size: 16px;
    width: 100%;
    height: fit-content;
    border: 1px solid #121518;
    color: #121518;
    display: flex;
    align-items: center;
  }
  
  .accordion-button::after {
    display: none;
  }
  
  .accordion-header {
    display: flex;
    align-items: center;
    border-radius: 0;
  }
  
  .accordion-toggle-icon {
    font-size: 20px;
    margin-left: auto; 
    color:  #fdbe33;
  }
  
  
  .accordion-item:first-of-type > .accordion-header .accordion-button.collapsed {
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
  }
  
  .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;
  }
  
  /* animation 1st and 2nd accordion */
  #modified-accordion-1 .custom-card {
    animation: slideInLeft 1.4s ease-in-out;
  }
  
  #modified-accordion-2 .custom-card {
    animation: slideInRight 1.4s ease-in-out;
  }
  
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 991.98px) {
    .modified-faqs {
      padding: 25px 0;
    }
  
    .modified-faqs #modified-accordion-1,
    .modified-faqs #modified-accordion-2 {
      padding: 0;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 993.98px) {
    .modified-faqs {
      flex-direction: column;
      align-items: center;
    }
  
    .modified-faqs .modified-row::after {
      display: none;
    }
  
    .modified-faqs #modified-accordion-1,
    .modified-faqs #modified-accordion-2 {
      width: 100%;
    }
  }
  